.iphone {
	height: 640px;
	width: 360px;
	border: solid;
	border-color: black;
	border-width: 5px;
}

.logo {
	height: auto;
	width: 80%;
	position: relative;
	top: 70px;
	left: 25px;
}

h1 {
	font-family: 'Oxygen', sans-serif;
}

.email-login {
	font-family:'Oxygen', sans-serif;
	font-size: 25px;
	position: relative;
	top: 120px;
	left: 25px;
}

.password-login {
	font-family:'Oxygen', sans-serif;
	font-size: 25px;
	position: relative;
	top: 145px;
	left: 25px;
}

.textbox1{
	height: 25px;
	width: 50%;
	position: relative;
	top: 120px;
	left: 25px;
}

.textbox2{
	height: 25px;
	width: 50%;
	position: relative;
	top: 145px;
	left: 25px;
}

a.login{
	height: 85px;
	width: 150px;
	font-size: 20px;
	background-color: ;
	position: relative;
	top: 220px;
	left: -162px;
	text-decoration: none;

}

a.register{
	height: 85px;
	width: 150px;
	font-size: 20px;
	background-color: ;
	position: relative;
	top: 260px;
	left: -210px;
	text-decoration: none;
}

.home-head{
	height: 50px;
	border-bottom: 3px solid black;
}

.right-icons{
	float: right;
	position: relative;
	top: -75px;
}

.settings {
	height: auto;
	width: 45px;
	margin: 10px;

}

.profile {
	height: auto;
	width: 45px;
	margin: 10px;
}

.logo-r {
	height: auto;
	width: 80%;
	position: relative;
	top: 20px;
	left: 25px;	
}

.name{
	font-size: 20px;
	font-family: 'Oxygen', sans-serif;
	position: relative;
	top: ;
	left: 25px;
}

.username{
	font-size: 20px;
	font-family: 'Oxygen', sans-serif;
	position: relative;
	top: 15px;
	left: 25px;
}

.email{
	font-size: 20px;
	font-family: 'Oxygen', sans-serif;
	position: relative;
	top: 20px;
	left: 25px;
}

.confirm-email{
	font-size: 20px;
	font-family: 'Oxygen', sans-serif;
	position: relative;
	top: 25px;
	left: 25px;
}

.password{
	font-size: 20px;
	font-family: 'Oxygen', sans-serif;
	position: relative;
	top: 30px;
	left: 25px;
}

.confirm-password{
	font-size: 20px;
	font-family: 'Oxygen', sans-serif;
	position: relative;
	top: 35px;
	left: 25px;
}

.textbox3{
	width: 50%;
	position: relative;
	top: -240px;
	left: 25px;
}

.textbox4{
	width: 50%;
	position: relative;
	top: -205px;
	left: 25px;
}

.textbox5{
	width: 50%;
	position: relative;
	top: -175px;
	left: 25px;
}

.textbox6{
	width: 50%;
	position: relative;
	top: -145px;
	left: 25px;
}

.textbox7{
	width: 50%;
	position: relative;
	top: -115px;
	left: 25px;
}

.textbox8{
	width: 50%;
	position: relative;
	top: -100px;
	left: 25px;
}

.Register-button{
	font-size: 30px;
	font-family: 'Oxygen', sans-serif;
	width: 150px;
	height: 55px;
	position: relative;
	top: 30px;
	left: -165px;
}

.list-1{
	text-align: center;
}

.backbutton{
	float: left;
	height: auto;
	width: 60px;
	position: relative;
	top: -35px;
	left: -35px;
}

.plus{
	height: 55px;
	width: auto;
	position: relative;
	top: 15px;
	left: 10px;
	float: left;
	margin-right: 20px;
}

.add-new-list-new{
	font-size: 25px;
	font-family: 'Oxygen', sans-serif;
	text-decoration: none;
	float: left;
	position: relative;
	top: 25px;
}

.add-new-list{
	font-size: 25px;
	font-family: 'Oxygen', sans-serif;
	text-decoration: none;
	float: left;
}

a:link{
	color: black;
}

a:hover{
	color: black;
}

a:active{
	color: black;
}

a:visited{
	color: black;
}

.grocery-list-home{
	font-size: 45px;
	font-family: 'Oxygen', sans-serif;
	text-decoration: none;
}

.add-new-list-div{

}

.Grocery {
	font-size: 40px;
	font-family: 'Oxygen', sans-serif;
	text-align: center;
	position: relative;
	top: -48px;
}

.settings-list {
	float: right;
	position: relative;
	top: -30px;
	right: -45px;
}

.list1-head {
	display: inline-block;
}

.New-List-Title {
	font-size: 45px;
	font-family: 'Oxygen', sans-serif;
	margin: 0px;
	position: relative;
	left: 5px;
}

.listname{
	font-size: 20px;
	font-family: 'Oxygen', sans-serif;
	position: relative;
	left: 5px;
}

.new-list-input{
	font-size: 20px;
	font-family: 'Oxygen', sans-serif;
	width: 92%;
	height: 30px;
	position: relative;
	left: 10px;
}
.Add-People-Title{
	font-size: 30px;
	font-family: 'Oxygen', sans-serif;
	margin-bottom: 50px;
	float: left;
	position: relative;
	left: 8px;
}

.Notifacations-Title{
	font-size: 30px;
	font-family: 'Oxygen', sans-serif;
	margin-top: 0px;
	position: relative;
	top: 30px;
	left: -150px;
}

.plusperson{
	height: 45px;
	width: auto;
	float: left;
	margin-top: 60px;
	margin-right: 10px;
	position: relative;
	top: 15px;
	left: -150px;
}

.add-person-new{
	font-size: 20px;
	font-family: 'Oxygen', sans-serif;
	text-decoration: none;
	float: left;
	position: relative;
	top: 85px;
	left: -155px;
}

.some-added{
	font-size: 18px;
	font-family: 'Oxygen', sans-serif;
	float: left;
}

.some-checked{
	font-size: 18px;
	font-family: 'Oxygen', sans-serif;
	float: left;
	position: relative;
	left: 20px;
}

.notify-check1{
	float: left;
	position: relative;
	top: 22px;
}

.notify-check2{
	float: left;
	position: relative;
	top: 82px;
	left: -280px;
}

.create-list-button{
	font-size: 40px;
	font-family: 'Oxygen', sans-serif;
	float: left;
	position: relative;
	left: 10px;
	top: 10px;
}

.cancel-create-list{
	font-size: 25px;
	font-family: 'Oxygen', sans-serif;
	float: left;
	position: relative;
	left: -195px;
	top: 100px;
}

.Add-Person-Title {
	font-size: 45px;
	font-family: 'Oxygen', sans-serif;
	margin: 0px;
	margin-left: 10px;
	margin-top: 5px;
	position: relative;
	left: 5px;
}

.email-person-add{
	font-size: 30px;
	font-family: 'Oxygen', sans-serif;
	margin-bottom: 10px;
	margin-left: 10px;
}

.name-person-add{
	font-size: 30px;
	font-family: 'Oxygen', sans-serif;
	margin-bottom: 10px;
	margin-left: 10px;
}

.add-person-button{
	font-size: 40px;
	font-family: 'Oxygen', sans-serif;
	margin-top: 20px;
	margin-left: 10px;
}

.cancel-person-button{
	font-size: 25px;
	font-family: 'Oxygen', sans-serif;
	position: relative;
	left: 20px;
}

.ios-keyboard{
	width: 100%;
	height: auto;
	position: relative;
	bottom: -35px;
}

.new-person-input{
	width: 75%;
	height: 30px;
	position: relative;
	left: 10px;
}

.item1{
	font-size: 25px;
	font-family: 'Oxygen', sans-serif;
	margin-left: 20px;
	margin-bottom: 10px;
}

.item1-details{
	float: right;
	height: 35px;
	position: relative;
	top: -42px;
}